# Kernel / firmware build artifacts
/BUILD_NUMBER
*.o
*.o.cmd
*.ko
*.ko.cmd
*.mod.c
modules.order
Module.symvers
.tmp*
/gen
/log
/obj/
/src/*.asm
/src/ucode_compressed.c
/*-sdio.bin

# Editor
*.swp

# macOS
.DS_Store
**/.DS_Store
