# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# MATLAB generated
*.asv
*.autosave
*.mex*
slprj/
*_ert_rtw/
csireader_image/

# Data / media (no versionable)
pcap_files/
*.mp4
*.mov
*.avi
*.mkv
*.webm
*.m4v
